.navbar {
  margin-bottom: 20px;
}



.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-nav {
    flex: 1;
  }
  
  .navbar .navbar-toggler {
    border: none;
  }
  
  .navbar .navbar-toggler:focus {
    outline: none;
  }
  

/* src/css/Navbar.css */
.navbar .navbar-text {
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar-text .btn {
    margin-left: 10px;
  }
  
  .navbar .navbar-nav .nav-item {
    margin-right: 15px;
  }
